*{
    padding: 0;
    margin: 0;
}

body{
    font: 16px arial;
}

/* header.php */
.wrapper{
margin: 0 10% 0;
width: 1000px;
background-color: whitesmoke;
}

.header{
    background-color: tan;
    text-align: center;
    padding: 10px;
}
.header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin:0 ;
    font-size: 40px;
    font-weight: bold;
}

.menu{
    background-color:thistle;
}
.menu ul{
    list-style: none;
    padding-left: 10px;
}
.menu ul li{
    display: inline-block;
    /* padding:3px 2px; */
}

.menu ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu ul li a:hover{
    color: rgb(133, 14, 5);
}

.main-content{
    /* padding: 25px; */
    
    min-height: 300px;
    margin:15px 10% 10px;
}

.main-content h2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

/* Index.php page */
.main-content table{
    width: 81%;
    padding: 5px;
    margin-top: 0 0 10px;
    /* border-radius: 15px; */
    background-color: rgb(136, 38, 43);
}

.main-content table th{
    color: #ffff;
    background-color: #333;
    text-transform: capitalize;
}

#main-content table th:last-child{
    width: 130px;
}
.main-content table td{
    background-color: whitesmoke;
    padding: 2px;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-content table td a{
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.main-content table td a:hover{
    color: darkgrey;
}

/* register.php page */
.main-content .reg-form{
    padding: 25px;
    width:55%;
    margin-bottom:10px;
    border-radius: 15px;
    background-color: rgb(136, 38, 43);
}

.main-content .reg-form .form-item{
    margin-bottom:15px;
}

.main-content .reg-form .form-item label{
    display: inline-block;
    width: 30%;
    font-weight: bold;
}

.main-content .reg-form .form-item input,
.main-content .reg-form .form-item textarea,
.main-content .reg-form .form-item select{
    width: 60%;
    display: inline-block;
    padding: 5px;
    margin:0;
    font-size: 15px;
    border-radius: 7px;
}
.main-content .reg-form .form-item select{
    width: 62%;
}



.main-content .reg-form .submit{
    font-size: 16px;
    color: #ffff;
    background-color: rgb(66, 66, 66);
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 0 0 30%;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s;

} 

.main-content .reg-form .submit:hover{
    box-shadow: 0 0 5px #555;
}